<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<JDBC name="databaseAppender" tableName="application_log">
			<ConnectionFactory
				class="com.yauhenikuntsevich.training.onlinestore.services.utils.ConnectionToDB"
				method="connectionBD" />
			<Column name="DATE" isEventTimestamp="true" isUnicode="false" />
            <Column name="LEVEL" pattern="%level" isUnicode="false" />
            <Column name="LOGGER" pattern="%logger" isUnicode="false" />
            <Column name="MESSAGE" pattern="%msg%n" isUnicode="false" />
		</JDBC>

		<!-- <SMTP name="SMTPAppender" smtpProtocol="smtps" smtpPort="465" subject="Error 
			Log" to="ifk88@lobyrin.ru" from="java@lobyrin.ru" smtpHost="smtp.yandex.ru" 
			smtpUsername="java@lobyrin.ru" smtpPassword="Qq123456" bufferSize="512"> 
			<PatternLayout> <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}{GMT+3} [%-5p] [%t] 
			- %c{1}: %m%n</pattern> </PatternLayout> </SMTP> -->

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS}{GMT+3} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFileWarn" fileName="logs/error-log.log"
			filePattern="logs/$${date:yyyy-MM}/error-%d{MM-dd-yyyy}.log.gz">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS}{GMT+3} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<ThresholdFilter level="WARN" onMatch="ACCEPT"
				onMismatch="DENY" />
		</RollingFile>

		<RollingFile name="RollingFileInfo" fileName="logs/info-log.log"
			filePattern="logs/$${date:yyyy-MM}/info-%d{MM-dd-yyyy}.log.gz">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS}{GMT+3} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<ThresholdFilter level="INFO" onMatch="ACCEPT"
				onMismatch="DENY" />
		</RollingFile>

		<RollingFile name="RollingFileDebug" fileName="logs/debug-log.log"
			filePattern="logs/$${date:yyyy-MM}/info-%d{MM-dd-yyyy}.log.gz">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS}{GMT+3} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<ThresholdFilter level="DEBUG" onMatch="ACCEPT"
				onMismatch="DENY" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="databaseAppender" />
			<AppenderRef ref="RollingFileWarn" />
			<AppenderRef ref="RollingFileInfo" />
			<AppenderRef ref="RollingFileDebug" />
		</Root>
	</Loggers>
</Configuration>